body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: sans-serif;
}

.container {
  display: flex;
}

button {
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 24px;
  max-width: 200px;
}

canvas {
  outline: 4px solid gray;
}

