body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: sans-serif;
}

.container {
  display: flex;
}

button {
  font-size: 20px;
  padding: 6px 12px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 24px;
  max-width: 200px;
  min-width: 200px;
}

label {
  font-size: 20px;
}

input[type='radio'] {
  height: 18px;
  width: 18px;
  vertical-align: sub;
}

canvas {
  outline: 4px solid gray;
}

